<!DOCTYPE html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="收款二维码"/>
    <meta name="Description" content="收款二维码"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>收款二维码</title>
    <link rel="stylesheet" rev="stylesheet" href="../css/style.css?1494925388726" type="text/css" media="screen"/>


</head>
<body style="background:#fff;">
<div class="container code-container">
    <div class="wrap">
        <div class="bg"><img src="../res/img/codebg.png"/> </div>
        <div class="cont-bd">
            <h2>欢迎使用二维码支付</h2>
            <div class="code">
                <p><img src="../res/pic/code.png"/></p>
                <h3>Bark小店</h3>
            </div>
            <div class="hint" style="display:none">
                <p>长按可保存到相册，让客户扫一扫即可收看</p>
                <p>长按可以收藏到微信里，直接在微信里打开付款</p>
            </div>
            <div class="qudao">
                <img src="../res/img/qudaologo.png"/>
            </div>
        </div>
    </div>

</div>
</body>
</html>
