<!DOCTYPE html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="收款二维码"/>
    <meta name="Description" content="收款二维码"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>敬请期待</title>
    <link rel="stylesheet" rev="stylesheet" href="../css/style.css?1494925388739" type="text/css" media="screen"/>


</head>
<body>
<div class="container hint-wrap">
    <div class="wrap">
        <div class="detail">功能即将上线，敬请期待</div>

    </div>

</div>
</body>
</html>
