<!DOCTYPE html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="商户中心"/>
    <meta name="Description" content="商户中心"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>商户中心</title>
    <link rel="stylesheet" rev="stylesheet" href="__CDN__/assets/css/style.css?1494925388737" type="text/css" media="screen"/>

</head>
<body>
<div class="container">
    <div class="wrap">
        <div class="cont-hd">
            <div class="info">
                <div class="headicon">
                    <img src='__CDN__/assets/img/headicon.png'/>

                    <h2>引付云商家</h2>
                </div>
                <a href="#" class="user">
                    <i class="icon-icon"></i>
                </a>
            </div>
            <!--dots-->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><div class="data">
                        <h3><i class="icon-shijian"></i><span>今日累计</span></h3>

                        <div class="weui-grids data-grids">
                            <div href="javascript:;" class="weui-grid">
                                <div class="data-hint">
                                    <p class="weui-grid__label">金额(元)</p></div>
                                <div class="data-cont">
                                    10000
                                </div>
                            </div>
                            <div href="javascript:;" class="weui-grid">
                                <div class="data-hint">
                                    <p class="weui-grid__label">笔数(元)</p></div>
                                <div class="data-cont">
                                    10
                                </div>
                            </div>
                        </div>
                    </div></div>
                    <div class="swiper-slide">  <div class="data">
                        <h3><i class="icon-shijian"></i><span>总统计</span></h3>

                        <div class="weui-grids data-grids">
                            <div href="javascript:;" class="weui-grid">
                                <div class="data-hint">
                                    <p class="weui-grid__label">金额(元)</p></div>
                                <div class="data-cont">
                                    200000
                                </div>
                            </div>
                            <div href="javascript:;" class="weui-grid">
                                <div class="data-hint">
                                    <p class="weui-grid__label">笔数(元)</p></div>
                                <div class="data-cont">
                                    20
                                </div>
                            </div>
                        </div>
                    </div></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="cont-bd">
            <div class="weui-grids">
                <a href="javascript:;" class="weui-grid">
                    <i class="icon-icon1 style1"></i>

                    <p class="weui-grid__label">交易查询</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <i class="icon-code style2"></i>

                    <p class="weui-grid__label">收款二维码</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <i class="icon-ziliao style3"></i>

                    <p class="weui-grid__label">商户资料修改</p>
                </a>
            </div>
            <div class="weui-cells__title">应用列表</div>
            <div class="weui-grids">
              <!--   <a href="javascript:;" class="weui-grid">
                    <i class="icon-liuliang style4"></i>

                    <p class="weui-grid__label">流量卡充值</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <i class="icon-wuyefuwu style5"></i>

                    <p class="weui-grid__label">物业缴费</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <i class="icon-guanggao style6"></i>

                    <p class="weui-grid__label">广告投放</p>
                </a>

               应用列表：<br /> -->
                  <?php foreach ($res as $key => $value) { ?>
                  <a href="<?php echo $value['url'] ?>" class="weui-grid">

                      <img src="<?php echo $value['logo'] ?>" style="width:32px;height:32px;"/>

                      <i class="" style="display: none;" ><?php echo $value['id'] ?></i>
                      <p class="weui-grid__label"><?php echo $value['name'] ?> </p>
                  </a>
                   <?php } ?>


            </div>
        </div>
    </div>
</div>
<script src="__CDN__/assets/js/jquery-2.1.4.js?1494925388737"></script>
<script src="__CDN__/assets/js/fastclick.js?1494925388737"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<script src="__CDN__/assets/js/jquery-weui.js?1494925388737"></script>

<script src="__CDN__/assets/js/swiper.js?1494925388737"></script>

<script>
    $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
    });
</script>
</body>
</html>
