<!DOCTYPE html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="商户中心"/>
    <meta name="Description" content="商户中心"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>交易流水</title>
    <link rel="stylesheet" rev="stylesheet" href="../css/style.css?1494925388745" type="text/css" media="screen"/>


</head>
<body>
<div class="container jiaoyi-wrap">
    <div class="page__bd">
        <div class="wrap">
            <div class="cont-bd">
                <div class="weui-cells__title style1">交易流水<a href="#" class="pos">交易明细</a></div>
                <div class="weui-tab">
                    <div class="weui-navbar">
                        <div class="weui-navbar__item weui-bar__item_on">
                            7天
                        </div>
                        <div class="weui-navbar__item">
                            30天
                        </div>
                        <div class="weui-navbar__item">
                            3个月
                        </div>
                        <div class="weui-navbar__item">
                            6个月
                        </div>
                        <div class="weui-navbar__item">
                            1年
                        </div>
                    </div>
                    <div class="weui-tab__panel">
                        <img src="../res/pic/1.png" style="width:100%"/>
                    </div>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>交易总额</p>
                        </div>
                        <div class="weui-cell__ft">100.030.00元</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>交易笔数</p>
                        </div>
                        <div class="weui-cell__ft">1200笔</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>日均交易额</p>
                        </div>
                        <div class="weui-cell__ft">2393.23元</div>
                    </div>
                </div>
                <div class="weui-cells__title">您的企业经营稳定，具备申请XX贷款的资格</div>
            </div>
        </div>
    </div>

    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <a href="javascript:;" class="weui-btn weui-btn_primary">立即申请贷款</a>
        </div>

    </div>
</div>
</body>
</html>
