<!DOCTYPE html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="商户中心"/>
    <meta name="Description" content="商户中心"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>设置费率</title>
    <link rel="stylesheet" rev="stylesheet" href="../../css/agent.css?1494925388799" type="text/css" media="screen"/>


</head>
<body>
<div class="container form-wrap">
    <div class="wrap">

        <div class="cont-bd">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>查看商户资料</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells__title">设置费率 </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">支付费率</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number"  placeholder="请输入千分之几">
                    </div>
                    <div class="weui-cell__ft" style="font-size:17px;">
                        ‰
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">提交</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
